.header .chat-toggler1 {
  position: relative;
  top: 10px;
  margin-right: 5px;
  display: inline-block;
  float: left;
  /*min-width: 163px;*/
}
.header .chat-toggler1 .user-details {
  display: inline-block;
  float: left;
  line-height: 35px;
}
.header .chat-toggler1 .user-details .username a {
  color: #1b1e24;
  font-size: 15px;
}
.header .chat-toggler1 .user-details .company a {
  color: #8b8f92;
  font-weight: 400;
  text-align: right;
  font-size: 12px;
}
.header .chat-toggler1 .iconset {
  display: inline-block;
  float: left;
  margin: 15px 10px;
}
.header .chat-toggler1 .profile-pic {
  border-radius: 100px 100px 100px 100px;
  display: inline-block;
  height: 35px;
  overflow: hidden;
  width: 35px;
  float: left;
}
.header .chat-toggler1 a {
  color: #1b1e24;
  font-size: 15px;
  display: inline-block;
  float: left;
}
.header .chat-toggler1 > i {
  color: #808080;
  text-align: right;
  font-size: 20px;
  position: relative;
  padding: 8px;
  top: 8px;
}
.header .chat-toggler1 .message-count {
  display: inline-block;
  float: left;
}
.header .chat-toggler1 .message-count .badge {
  position: absolute;
  float: left;
  right: 0;
  top: 0;
}