/* CSS Document */
table.archives_list {
    /* background: #FFF; */
    border-collapse:collapse;
    width: 100%;
    empty-cells: show;
    border-right: 1px solid #ECEFF0;
    border-top: 1px solid #ECEFF0;
    margin-bottom:10px;
    line-height:18px;
}
table.archives_list tbody {
    
}
.div_main_content{
    margin-top:20px 
}
table.archives_list td{
	border-bottom: 1px solid #ECEFF0;
	border-left: 1px solid #ECEFF0;
	padding:7px;
	overflow:hidden;
}


table.archives_list a {
    color:#09C
}
.profiles_view{
    margin-top:20px;
}
a.reply { display:inline-block; padding:5px 8px; background:#6C6; color:#fff;}
a.print { display:inline-block; padding:5px 8px;}

table.archives_list img.bor {
    border-radius: 58px;
	width:60px;
}
table.archives_list img.bor2 {
    border-radius: 3px;
	width:60px;
	border:1px solid #eee;
	padding:2px;
}
